* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app {
    background-color: #fafafa;
    height: 100vh;
}

.app__header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    object-fit: contain;
    padding: 12px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.app_header_img {
    object-fit: contain;
}

.app_posts {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.app_post_left {
    margin-left: 10px;
    margin-right: 10px;
}

.app_post_right {
    margin-left: 10px;
    margin-right: 10px;
}

.app_signup {
    display: flex;
    flex-direction: column;
}